<table class="table">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Category Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let category of categories">
            <td>{{category.catName}}</td>
            <td><img [src]="category.catImage" width="100px" height="100px"></td>
            <td><button  class="btn btn-warning" (click)="edit(category._id)">Edit</button></td>
            <td><button  class="btn btn-danger" (click)="delete(category._id)">Delete</button></td>
        </tr>
    </tbody>
</table>
