<div class="form-group"><div class="container">
    <div class="row mt-5">
        <div class="col-md-8">
                <div class="form-group mb-3">
                    <label>Product Name</label>
                    <input #pName type="text" class="form-control">
                </div>
                <div class="form-group mb-2">
                    <label>Product Price</label>
                    <input  #pPrice type=""class="form-control">
                </div>
                <div class="form-group mb-2">
                    <label>Product Image</label>
                    <input  (change)="selectImage($event)" type="file"class="form-control">
                </div>

                <div class="form-group mb-2">
                    <label>Product Quantity</label>
                    <input  #pQuantity type="number" class="form-control">
                </div>

                <div class="form-group mb-2">
                    <label>Product Offer</label>
                    <input  #pOffers type="text" class="form-control">
                </div>

                <div class="form-group mb-2">
                    <label>Product Description</label>
                    <input  #pDescription type="text" class="form-control">
                </div>

                <div class="form-group mb-2">
                    <label>Product Discount</label>
                    <input  #pDiscount type="text" class="form-control">
                </div>

                <div class="form-group mb-2">
                    <label>category id</label>
                    <input  #catId type="text" class="form-control">
                </div>
               
                <div class="form-group">
                    <button class="btn btn-success " (click)="submit(pName.value,pPrice.value,pQuantity.value,pOffers.value,pDescription.value,pDiscount.value,catId.value)">Add</button>
                </div>
        </div>
    </div>
</div>
