<div class="form-group"><div class="container">
    <div class="row mt-5">
        <div class="col-md-8">
                <div class="form-group mb-3">
                    <label>Product Name</label>
                    <input [(ngModel)]="productName" type="text" class="form-control">
                </div>
                <div class="form-group mb-2">
                    <label>Product Price</label>
                    <input  [(ngModel)]="productPrice" type="number" class="form-control">
                </div>
                <div class="form-group mb-2">
                    <label>Product Image</label>
                    <input  (change)="selectImage($event)" type="file"class="form-control">
                </div>

                <div class="form-group mb-2">
                    <label>Product Quantity</label>
                    <input  [(ngModel)]="productQuantity" type="number" class="form-control">
                </div>

                <div class="form-group mb-2">
                    <label>Product Offer</label>
                    <input  [(ngModel)]="productOffer" type="text" class="form-control">
                </div>

                <div class="form-group mb-2">
                    <label>Product Description</label>
                    <input  [(ngModel)]="productDescription" type="text" class="form-control">
                </div>

                <div class="form-group mb-2">
                    <label>Product Discount</label>
                    <input  [(ngModel)]="productDiscount" type="text" class="form-control">
                </div>

                <div class="form-group mb-2">
                    <label for="cars">Choose a Category :</label>
                    <select [(ngModel)]="catId" id="cars" >
                        <option *ngFor="let c of categories" [value]="c._id">{{c.catName}}</option>
                    </select>
                </div>
               
                <div class="form-group">
                    <button class="btn btn-success " (click)="addProduct()">Add</button>
                </div>
        </div>
    </div>
</div>
